<%- include("_header") -%>
<link rel="stylesheet"  href="css/styles.css">
<div class="main">
    <p class="title-heading">Game has been purchased!</p>
    
    
<br>
</div>

<%- include("_footer") -%>