<%- include("_header2") -%>
<link rel="stylesheet"  href="css/styles.css">
<div class="main">
    <p class="title-heading">W.A.S.D</p>
    
    <ul class="aligntoleft" >
        <p class="description">W.A.S.D is a game distribution app which allows users to</p><br>
        <li>Signup</li>
        <li>Login</li>
        <li>Access Games in their database</li>
        <li>Browse all available games in the store</li>
</ul>
<br>
</div>

<%- include("_footer") -%>