<%- include("_header2") -%>
<link rel="stylesheet"  href="css/styles.css">
<!-- <script src="scripts/myscripts.js"></script> -->
<div class="form-wrapper">
<form action="/library" method="POST">
    <input  type="text" id="username" placeholder="Username" name="username" required>
    <input  type="password" id="password" placeholder="Password" name="password" required>
    <!-- <button id="buttonid" onclick="myFunc()" class="btn" type="button">LOGIN</button> -->
    <button type="submit">LOGIN</button>
    <a href="/signup">SIGN UP</a>
</form>
</div>

<%- include("_footer") -%>