* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
  font-family: monospace;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: white;
  text-decoration: none;
  background-color: #101010;
  font-size: 20px;
  height: 5vh;
}
a {
  color: inherit;
}
.logo-class {
  color: red;
}
/* input {
  padding-top: 5px;
  margin: 5px;
} */
/* button {
  text-align: center;
} */
.footer {
  padding: 5px;
  font-size: 15px;
  color: white;
  text-align: center;
  bottom: 0;
  background: #101010;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
}

.title-heading {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 30px;
}

.form-wrapper {
  display: flex;

  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn {
  left: 50%;
  padding: 10px;
}
.ul-wrapper {
  display: flex;
}
.ul-wrapper li {
  padding: 50px;
}
.card-wrapper {
  background: black;
  border-radius: 25px;
  padding: 25px;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
}
.game-name {
  padding: 5px;
  text-align: center;
}

.box-fit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  text-align: center;
}
.buycard {
  margin: auto;
  width: 50%;

  padding: 10px;
}

.buynowbtn {
  border: none;
  color: white;
  padding: 40px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
